In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_excel('Consolidado 2016-2020.xlsx')

## 2016

In [3]:
df_2016_con = df[df['AÑO']==2016].copy()

In [8]:
df_2016_con.shape

(93320, 33)

In [4]:
df_2016_con.head()

,AÑO,IDENTIFICACION CATASTRAL,cc_tarifa,ESTRATO,CONSECUTIVO PREDIAL,clase,corregimiento,barrio,manzana,predio,...,vlr_const,vlr_const_comun,vlr_tot_avaluo,nro_doc_id_catastral,nombre,primer_apell,segundo_apell,proindiviso,cons_pred,per_ult_pag
0,2016,6.151001e+26,12,2,2972,1,1,1,19,21,...,5959129.0,0,1103722053,805012921,FIDUCIARIA S.A.,ACCION,SOCIEDAD,100,2972,201804
1,2016,6.151001e+26,16,5,41717,1,1,10,1,2,...,0.0,0,4338995,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,41717,202104
2,2016,6.151001e+26,16,0,12157,1,1,10,1,3,...,0.0,0,6715111,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,12157,202104
3,2016,6.151001e+26,8,0,12159,1,1,10,1,5,...,52343063.0,0,82824985,1039450934,ANDRES MAURICIO,SIERRA,ESTRADA,50,12159,202104
4,2016,6.151001e+26,8,0,12159,1,1,10,1,5,...,52343063.0,0,82824985,43094163,ANA MARIA,SIERRA,BUENO,50,12159,202104

In [6]:
df_2016_con.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 93320 entries, 0 to 93319
Data columns (total 33 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   AÑO                       93320 non-null  int64
 1   IDENTIFICACION CATASTRAL  93320 non-null  float64
 2   cc_tarifa                 93320 non-null  int64
 3   ESTRATO                   89577 non-null  object
 4   CONSECUTIVO PREDIAL       93320 non-null  int64
 5   clase                     93320 non-null  int64
 6   corregimiento             93320 non-null  int64
 7   barrio                    93320 non-null  int64
 8   manzana                   93320 non-null  int64
 9   predio                    93320 non-null  int64
 10  edificio                  93320 non-null  int64
 11  mejora                    93320 non-null  int64
 12  ficha                     89379 non-null  float64
 13  circulo                   91515 non-null  object
 14  matricula                 91617 non-null  object
 15  direccion                 93320 non-null  object
 16  area_terr                 93320 non-null  float64
 17  area_terr_comun           93320 non-null  float64
 18  area_const                93320 non-null  float64
 19  area_const_comun          93320 non-null  float64
 20  DESTINACION               93320 non-null  int64
 21  vlr_terr                  93320 non-null  int64
 22  vlr_terr_comun            93320 non-null  float64
 23  vlr_const                 93320 non-null  float64
 24  vlr_const_comun           93320 non-null  int64
 25  vlr_tot_avaluo            93320 non-null  int64
 26  nro_doc_id_catastral      93320 non-null  object
 27  nombre                    93274 non-null  object
 28  primer_apell              93301 non-null  object
 29  segundo_apell             90306 non-null  object
 30  proindiviso               93320 non-null  object
 31  cons_pred                 93320 non-null  int64
 32  per_ult_pag               92708 non-null  object
dtypes: float64(8), int64(15), object(10)
memory usage: 24.2+ MB

In [7]:
df_2016_con.isnull().sum()

AÑO                            0
IDENTIFICACION CATASTRAL       0
cc_tarifa                      0
ESTRATO                     3743
CONSECUTIVO PREDIAL            0
clase                          0
corregimiento                  0
barrio                         0
manzana                        0
predio                         0
edificio                       0
mejora                         0
ficha                       3941
circulo                     1805
matricula                   1703
direccion                      0
area_terr                      0
area_terr_comun                0
area_const                     0
area_const_comun               0
DESTINACION                    0
vlr_terr                       0
vlr_terr_comun                 0
vlr_const                      0
vlr_const_comun                0
vlr_tot_avaluo                 0
nro_doc_id_catastral           0
nombre                        46
primer_apell                  19
segundo_apell               3014
proindiviso                    0
cons_pred                      0
per_ult_pag                  612
dtype: int64

In [11]:
df_2016_con['CONSECUTIVO PREDIAL'].duplicated().sum()

29935

In [80]:
df_2016_con['CONSECUTIVO PREDIAL'].nunique()

63385

In [27]:
df_2016_con[df_2016_con['CONSECUTIVO PREDIAL']==12161].T

,6,7
AÑO,2016,2016
IDENTIFICACION CATASTRAL,615100101000009991034241024.0,615100101000009991034241024.0
cc_tarifa,8,8
ESTRATO,2,2
CONSECUTIVO PREDIAL,12161,12161
clase,1,1
corregimiento,1,1
barrio,10,10
manzana,1,1
predio,7,7
edificio,0,0
mejora,0,0
ficha,17700006.0,17700006.0
circulo,20,20
matricula,2353,2353
direccion,KR 56 N 39-64/66,KR 56 N 39-64/66
area_terr,358.0,358.0
area_terr_comun,0.0,0.0
area_const,125.5,125.5
area_const_comun,0.0,0.0
DESTINACION,1,1
vlr_terr,21873848,21873848
vlr_terr_comun,0.0,0.0
vlr_const,15447356.0,15447356.0
vlr_const_comun,0,0
vlr_tot_avaluo,37321204,37321204
nro_doc_id_catastral,15442808,39454082
nombre,JAIME ALBERTO,NATALIA ELENA
primer_apell,OSPINA,RAMIREZ
segundo_apell,HINESTROZA,LOPEZ
proindiviso,50,50
cons_pred,12161,12161
per_ult_pag,202104,202104
number_owners,2.0,1.0

In [28]:
df_2016_con[df_2016_con['CONSECUTIVO PREDIAL']==12159].T

,3,4
AÑO,2016,2016
IDENTIFICACION CATASTRAL,615100101000009991034241024.0,615100101000009991034241024.0
cc_tarifa,8,8
ESTRATO,0,0
CONSECUTIVO PREDIAL,12159,12159
clase,1,1
corregimiento,1,1
barrio,10,10
manzana,1,1
predio,5,5
edificio,0,0
mejora,0,0
ficha,17700004.0,17700004.0
circulo,20,20
matricula,4877,4877
direccion,KR 56 N 39-32/38,KR 56 N 39-32/38
area_terr,626.0,626.0
area_terr_comun,0.0,0.0
area_const,326.38,326.38
area_const_comun,0.0,0.0
DESTINACION,1,1
vlr_terr,30481922,30481922
vlr_terr_comun,0.0,0.0
vlr_const,52343063.0,52343063.0
vlr_const_comun,0,0
vlr_tot_avaluo,82824985,82824985
nro_doc_id_catastral,1039450934,43094163
nombre,ANDRES MAURICIO,ANA MARIA
primer_apell,SIERRA,SIERRA
segundo_apell,ESTRADA,BUENO
proindiviso,50,50
cons_pred,12159,12159
per_ult_pag,202104,202104
number_owners,1.0,1.0

In [64]:
df_2016_con[df_2016_con['CONSECUTIVO PREDIAL']==2].T

,82647,82648
AÑO,2016,2016
IDENTIFICACION CATASTRAL,615200200000009970865143808.0,615200200000009970865143808.0
cc_tarifa,11,11
ESTRATO,4,4
CONSECUTIVO PREDIAL,2,2
clase,2,2
corregimiento,2,2
barrio,0,0
manzana,1,1
predio,2,2
edificio,0,0
mejora,0,0
ficha,17800002.0,17800002.0
circulo,20,20
matricula,67906,67906
direccion,SANTA TERESA LT2,SANTA TERESA LT2
area_terr,3599.0,3599.0
area_terr_comun,0.0,0.0
area_const,346.04,346.04
area_const_comun,0.0,0.0
DESTINACION,31,31
vlr_terr,13367330,13367330
vlr_terr_comun,0.0,0.0
vlr_const,102718562.0,102718562.0
vlr_const_comun,0,0
vlr_tot_avaluo,116085892,116085892
nro_doc_id_catastral,43457800,43458168
nombre,SONIA MARIA,MARIA EUGENIA
primer_apell,PAREJA,OCAMPO
segundo_apell,ARENAS,MARTINEZ
proindiviso,50,50
cons_pred,2,2
per_ult_pag,202104,202004
number_owners,2,2
diff_pay,2,2

In [73]:
df_2016_con[df_2016_con['CONSECUTIVO PREDIAL']==16548].T

,7737,7738,7739,7740,7741,7742,7743,7744,7745,7746,...,7838,7839,7840,7841,7842,7843,7844,7845,7846,7847
AÑO,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,...,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016
IDENTIFICACION CATASTRAL,615100101002160017302880256.0,615100101002160017302880256.0,615100101002160017302880256.0,615100101002160017302880256.0,615100101002160017302880256.0,615100101002160017302880256.0,615100101002160017302880256.0,615100101002160017302880256.0,615100101002160017302880256.0,615100101002160017302880256.0,...,615100101002160017302880256.0,615100101002160017302880256.0,615100101002160017302880256.0,615100101002160017302880256.0,615100101002160017302880256.0,615100101002160017302880256.0,615100101002160017302880256.0,615100101002160017302880256.0,615100101002160017302880256.0,615100101002160017302880256.0
cc_tarifa,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
ESTRATO,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CONSECUTIVO PREDIAL,16548,16548,16548,16548,16548,16548,16548,16548,16548,16548,...,16548,16548,16548,16548,16548,16548,16548,16548,16548,16548
clase,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
corregimiento,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
barrio,10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
manzana,216,216,216,216,216,216,216,216,216,216,...,216,216,216,216,216,216,216,216,216,216
predio,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
edificio,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
mejora,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ficha,17722668.0,17722668.0,17722668.0,17722668.0,17722668.0,17722668.0,17722668.0,17722668.0,17722668.0,17722668.0,...,17722668.0,17722668.0,17722668.0,17722668.0,17722668.0,17722668.0,17722668.0,17722668.0,17722668.0,17722668.0
circulo,20,20,20,20,20,20,20,20,20,20,...,20,20,20,20,20,20,20,20,20,20
matricula,50804,50804,50804,50804,50804,50804,50804,50804,50804,50804,...,50804,50804,50804,50804,50804,50804,50804,50804,50804,50804
direccion,KR 54A CL 41-17 ADMINISTRACION,KR 54A CL 41-17 ADMINISTRACION,KR 54A CL 41-17 ADMINISTRACION,KR 54A CL 41-17 ADMINISTRACION,KR 54A CL 41-17 ADMINISTRACION,KR 54A CL 41-17 ADMINISTRACION,KR 54A CL 41-17 ADMINISTRACION,KR 54A CL 41-17 ADMINISTRACION,KR 54A CL 41-17 ADMINISTRACION,KR 54A CL 41-17 ADMINISTRACION,...,KR 54A CL 41-17 ADMINISTRACION,KR 54A CL 41-17 ADMINISTRACION,KR 54A CL 41-17 ADMINISTRACION,KR 54A CL 41-17 ADMINISTRACION,KR 54A CL 41-17 ADMINISTRACION,KR 54A CL 41-17 ADMINISTRACION,KR 54A CL 41-17 ADMINISTRACION,KR 54A CL 41-17 ADMINISTRACION,KR 54A CL 41-17 ADMINISTRACION,KR 54A CL 41-17 ADMINISTRACION
area_terr,15.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0,...,15.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0
area_terr_comun,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
area_const,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,...,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0
area_const_comun,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
DESTINACION,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
vlr_terr,4058584,4058584,4058584,4058584,4058584,4058584,4058584,4058584,4058584,4058584,...,4058584,4058584,4058584,4058584,4058584,4058584,4058584,4058584,4058584,4058584
vlr_terr_comun,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
vlr_const,3634594.0,3634594.0,3634594.0,3634594.0,3634594.0,3634594.0,3634594.0,3634594.0,3634594.0,3634594.0,...,3634594.0,3634594.0,3634594.0,3634594.0,3634594.0,3634594.0,3634594.0,3634594.0,3634594.0,3634594.0
vlr_const_comun,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
vlr_tot_avaluo,7693178,7693178,7693178,7693178,7693178,7693178,7693178,7693178,7693178,7693178,...,7693178,7693178,7693178,7693178,7693178,7693178,7693178,7693178,7693178,7693178
nro_doc_id_catastral,1017203319,1036935922,1036941486,1215642,15353118,15425210,15433372,15435423,15500898,19083261,...,8313084,8316956,8350517,8373349,8401694,860034313,88143049,91421051,92500484,98556169
nombre,SANTIAGO ALBERTO,CLARA MARIA,ANA ISABEL,JAIME,JUAN FERNANDO,GERARDO LUIS,WILSON URIEL,UBEIMAR ANTONIO,EDGAR ARMANDO,JAIME,...,GABRIEL JAIME,ALBERTO JAVIER,MARIO DE JESUS,JOSE LUIS,GONZALO HERNAN,S.A.,WILLIAM,LUIS ALFONSO,GUIDO MANUEL,JUAN DAVID
primer_apell,BURGOS,VASQUEZ,VASQUEZ,MOLINA,LOPEZ,RESTREPO,PUERTA,ALVAREZ,MONTOYA,URIBE,...,TORO,RAMIREZ,VASQUEZ,FRANCO,GOMEZ,BANCO,VARGAS,CARVAJAL,HERNANDEZ,GOMEZ
segundo_apell,CADAVID,MEJIA,MEJIA,MARULANDA,OCAMPO,QUINTERO,PINO,HOYOS,LOPEZ,ALVAREZ,...,POSADA,JIMENEZ,ALZATE,MENCO,DUQUE,DAVIVIENDA,QUINTERO,HENAO,PATERNINA,HERNANDEZ
proindiviso,1.36,0.3375,0.3375,0.675,1.36,1.35,0.675,0.675,0.675,0.675,...,1.35,2.7,0.675,0.675,0.675,1.35,0.675,0.675,0.675,0.675
cons_pred,16548,16548,16548,16548,16548,16548,16548,16548,16548,16548,...,16548,16548,16548,16548,16548,16548,16548,16548,16548,16548
per_ult_pag,202104,202104,202104,201204,202104,202104,202004,202104,202104,202104,...,202104,202104,202004,201104,202104,202104,202104,201204,201504,202104
number_owners,111,111,111,111,111,111,111,111,111,111,...,111,111,111,111,111,111,111,111,111,111
diff_pay,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14

In [45]:
df_2016_con.drop(columns='number_owners',inplace=True)

In [34]:
owner = df_2016_con[['CONSECUTIVO PREDIAL','nro_doc_id_catastral']].groupby('CONSECUTIVO PREDIAL').count().reset_index()

In [42]:
owner.rename(columns={'nro_doc_id_catastral':'number_owners'},inplace=True)

In [47]:
df_2016_con = df_2016_con.merge(owner,left_on='CONSECUTIVO PREDIAL',right_on='CONSECUTIVO PREDIAL').copy()

In [51]:
df_2016_con[df_2016_con['CONSECUTIVO PREDIAL']==16548]['per_ult_pag'].value_counts()

202104    74
201104     8
201204     7
201004     6
202004     3
202101     3
201904     2
201504     2
201903     1
201902     1
201404     1
202002     1
201801     1
201203     1
Name: per_ult_pag, dtype: int64

In [57]:
ult = df_2016_con[['CONSECUTIVO PREDIAL','per_ult_pag']].groupby('CONSECUTIVO PREDIAL').nunique().reset_index()

In [59]:
ult.rename(columns = {'per_ult_pag':'diff_pay'},inplace=True)

In [60]:
ult[ult['CONSECUTIVO PREDIAL']==16548]

       CONSECUTIVO PREDIAL  diff_pay
15395                16548        14

In [61]:
df_2016_con = df_2016_con.merge(ult,left_on='CONSECUTIVO PREDIAL',right_on='CONSECUTIVO PREDIAL').copy()

In [62]:
df_2016_con.head()

,AÑO,IDENTIFICACION CATASTRAL,cc_tarifa,ESTRATO,CONSECUTIVO PREDIAL,clase,corregimiento,barrio,manzana,predio,...,vlr_tot_avaluo,nro_doc_id_catastral,nombre,primer_apell,segundo_apell,proindiviso,cons_pred,per_ult_pag,number_owners,diff_pay
0,2016,6.151001e+26,12,2,2972,1,1,1,19,21,...,1103722053,805012921,FIDUCIARIA S.A.,ACCION,SOCIEDAD,100,2972,201804,1,1
1,2016,6.151001e+26,16,5,41717,1,1,10,1,2,...,4338995,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,41717,202104,1,1
2,2016,6.151001e+26,16,0,12157,1,1,10,1,3,...,6715111,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,12157,202104,1,1
3,2016,6.151001e+26,8,0,12159,1,1,10,1,5,...,82824985,1039450934,ANDRES MAURICIO,SIERRA,ESTRADA,50,12159,202104,2,1
4,2016,6.151001e+26,8,0,12159,1,1,10,1,5,...,82824985,43094163,ANA MARIA,SIERRA,BUENO,50,12159,202104,2,1

In [72]:
df_2016_con[['CONSECUTIVO PREDIAL','clase']].groupby('CONSECUTIVO PREDIAL').nunique().reset_index().sort_values(by='clase',ascending=False)

       CONSECUTIVO PREDIAL  clase
0                        1      1
42247                47958      1
42249                47960      1
42250                47961      1
42251                47962      1
...                    ...    ...
21133                22539      1
21134                22540      1
21135                22541      1
21136                22542      1
63384                74949      1

[63385 rows x 2 columns]

In [74]:
df_2016_con['proindiviso'].value_counts()

100.00    46438
50.00     24964
25.00      2571
33.33      1573
20.00      1170
          ...
92.10         1
9.87          1
52.64         1
0.01          1
95.30         1
Name: proindiviso, Length: 2740, dtype: int64

In [77]:
df_2016_con[df_2016_con['CONSECUTIVO PREDIAL']==16548]['proindiviso'].astype(float).describe()

count    111.000000
mean       0.900901
std        0.397774
min        0.337500
25%        0.675000
50%        0.675000
75%        1.350000
max        2.700000
Name: proindiviso, dtype: float64

In [81]:
df_2016 = df_2016_con.drop_duplicates(subset='CONSECUTIVO PREDIAL').copy()

In [83]:
df_2016[df_2016['CONSECUTIVO PREDIAL']==16548].T

                                                    7737
AÑO                                                 2016
IDENTIFICACION CATASTRAL   615100101002160017302880256.0
cc_tarifa                                             14
ESTRATO                                                0
CONSECUTIVO PREDIAL                                16548
clase                                                  1
corregimiento                                          1
barrio                                                10
manzana                                              216
predio                                                 8
edificio                                               0
mejora                                                 0
ficha                                         17722668.0
circulo                                               20
matricula                                          50804
direccion                 KR 54A CL 41-17 ADMINISTRACION
area_terr                                           15.0
area_terr_comun                                      0.0
area_const                                          16.0
area_const_comun                                     0.0
DESTINACION                                            3
vlr_terr                                         4058584
vlr_terr_comun                                       0.0
vlr_const                                      3634594.0
vlr_const_comun                                        0
vlr_tot_avaluo                                   7693178
nro_doc_id_catastral                          1017203319
nombre                                  SANTIAGO ALBERTO
primer_apell                                      BURGOS
segundo_apell                                    CADAVID
proindiviso                                         1.36
cons_pred                                          16548
per_ult_pag                                       202104
number_owners                                        111
diff_pay                                              14

In [84]:
df_2016.drop(columns=['IDENTIFICACION CATASTRAL','ficha','direccion','matricula','nro_doc_id_catastral','nombre','primer_apell','segundo_apell','proindiviso','cons_pred'],inplace=True)

In [126]:
df_2016.reset_index(drop=True,inplace=True)

In [85]:
df_2016.head()

,AÑO,cc_tarifa,ESTRATO,CONSECUTIVO PREDIAL,clase,corregimiento,barrio,manzana,predio,edificio,...,area_const_comun,DESTINACION,vlr_terr,vlr_terr_comun,vlr_const,vlr_const_comun,vlr_tot_avaluo,per_ult_pag,number_owners,diff_pay
0,2016,12,2,2972,1,1,1,19,21,0,...,0.0,4,1097762924,0.0,5959129.0,0,1103722053,201804,1,1
1,2016,16,5,41717,1,1,10,1,2,0,...,0.0,13,4338995,0.0,0.0,0,4338995,202104,1,1
2,2016,16,0,12157,1,1,10,1,3,0,...,0.0,13,6715111,0.0,0.0,0,6715111,202104,1,1
3,2016,8,0,12159,1,1,10,1,5,0,...,0.0,1,30481922,0.0,52343063.0,0,82824985,202104,2,1
5,2016,8,2,12160,1,1,10,1,6,0,...,0.0,1,19242852,0.0,29091045.0,0,48333897,202104,1,1

## 2017

In [86]:
df_2017_con = df[df['AÑO']==2017].copy()

In [87]:
df_2017_con.shape

(95271, 33)

In [88]:
df_2017_con.head()

,AÑO,IDENTIFICACION CATASTRAL,cc_tarifa,ESTRATO,CONSECUTIVO PREDIAL,clase,corregimiento,barrio,manzana,predio,...,vlr_const,vlr_const_comun,vlr_tot_avaluo,nro_doc_id_catastral,nombre,primer_apell,segundo_apell,proindiviso,cons_pred,per_ult_pag
93320,2017,6.151001e+26,33,2,2972,1,1,1,19,21,...,5959129.0,0,1999664929,805012921,FIDUCIARIA S.A.,ACCION,SOCIEDAD,100,2972,201804
93321,2017,6.151001e+26,14,5,41717,1,1,10,1,2,...,0.0,0,1478400,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,41717,202104
93322,2017,6.151001e+26,14,0,12157,1,1,10,1,3,...,0.0,0,3326400,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,12157,202104
93323,2017,6.151001e+26,14,0,12159,1,1,10,1,5,...,48044777.0,0,64898537,1039450934,ANDRES MAURICIO,SIERRA,ESTRADA,50,12159,202104
93324,2017,6.151001e+26,14,0,12159,1,1,10,1,5,...,48044777.0,0,64898537,43094163,ANA MARIA,SIERRA,BUENO,50,12159,202104

In [89]:
df_2017_con.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95271 entries, 93320 to 188590
Data columns (total 33 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   AÑO                       95271 non-null  int64
 1   IDENTIFICACION CATASTRAL  95271 non-null  float64
 2   cc_tarifa                 95271 non-null  int64
 3   ESTRATO                   91498 non-null  object
 4   CONSECUTIVO PREDIAL       95271 non-null  int64
 5   clase                     95271 non-null  int64
 6   corregimiento             95271 non-null  int64
 7   barrio                    95271 non-null  int64
 8   manzana                   95271 non-null  int64
 9   predio                    95271 non-null  int64
 10  edificio                  95271 non-null  int64
 11  mejora                    95271 non-null  int64
 12  ficha                     91328 non-null  float64
 13  circulo                   93477 non-null  object
 14  matricula                 93580 non-null  object
 15  direccion                 95271 non-null  object
 16  area_terr                 95271 non-null  float64
 17  area_terr_comun           95271 non-null  float64
 18  area_const                95271 non-null  float64
 19  area_const_comun          95271 non-null  float64
 20  DESTINACION               95271 non-null  int64
 21  vlr_terr                  95271 non-null  int64
 22  vlr_terr_comun            95270 non-null  float64
 23  vlr_const                 95270 non-null  float64
 24  vlr_const_comun           95271 non-null  int64
 25  vlr_tot_avaluo            95271 non-null  int64
 26  nro_doc_id_catastral      95271 non-null  object
 27  nombre                    95223 non-null  object
 28  primer_apell              95252 non-null  object
 29  segundo_apell             91437 non-null  object
 30  proindiviso               95271 non-null  object
 31  cons_pred                 95271 non-null  int64
 32  per_ult_pag               94667 non-null  object
dtypes: float64(8), int64(15), object(10)
memory usage: 24.7+ MB

In [90]:
df_2017_con.isnull().sum()

AÑO                            0
IDENTIFICACION CATASTRAL       0
cc_tarifa                      0
ESTRATO                     3773
CONSECUTIVO PREDIAL            0
clase                          0
corregimiento                  0
barrio                         0
manzana                        0
predio                         0
edificio                       0
mejora                         0
ficha                       3943
circulo                     1794
matricula                   1691
direccion                      0
area_terr                      0
area_terr_comun                0
area_const                     0
area_const_comun               0
DESTINACION                    0
vlr_terr                       0
vlr_terr_comun                 1
vlr_const                      1
vlr_const_comun                0
vlr_tot_avaluo                 0
nro_doc_id_catastral           0
nombre                        48
primer_apell                  19
segundo_apell               3834
proindiviso                    0
cons_pred                      0
per_ult_pag                  604
dtype: int64

In [91]:
df_2017_con['CONSECUTIVO PREDIAL'].duplicated().sum()

30042

In [92]:
df_2017_con['CONSECUTIVO PREDIAL'].nunique()

65229

In [93]:
owner_2017 = df_2017_con[['CONSECUTIVO PREDIAL','nro_doc_id_catastral']].groupby('CONSECUTIVO PREDIAL').count().reset_index()

In [94]:
owner_2017.rename(columns={'nro_doc_id_catastral':'number_owners'},inplace=True)

In [95]:
df_2017_con = df_2017_con.merge(owner_2017,left_on='CONSECUTIVO PREDIAL',right_on='CONSECUTIVO PREDIAL').copy()

In [96]:
df_2017_con.head()

,AÑO,IDENTIFICACION CATASTRAL,cc_tarifa,ESTRATO,CONSECUTIVO PREDIAL,clase,corregimiento,barrio,manzana,predio,...,vlr_const_comun,vlr_tot_avaluo,nro_doc_id_catastral,nombre,primer_apell,segundo_apell,proindiviso,cons_pred,per_ult_pag,number_owners
0,2017,6.151001e+26,33,2,2972,1,1,1,19,21,...,0,1999664929,805012921,FIDUCIARIA S.A.,ACCION,SOCIEDAD,100,2972,201804,1
1,2017,6.151001e+26,14,5,41717,1,1,10,1,2,...,0,1478400,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,41717,202104,1
2,2017,6.151001e+26,14,0,12157,1,1,10,1,3,...,0,3326400,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,12157,202104,1
3,2017,6.151001e+26,14,0,12159,1,1,10,1,5,...,0,64898537,1039450934,ANDRES MAURICIO,SIERRA,ESTRADA,50,12159,202104,2
4,2017,6.151001e+26,14,0,12159,1,1,10,1,5,...,0,64898537,43094163,ANA MARIA,SIERRA,BUENO,50,12159,202104,2

In [97]:
ult_2017 = df_2017_con[['CONSECUTIVO PREDIAL','per_ult_pag']].groupby('CONSECUTIVO PREDIAL').nunique().reset_index()

In [98]:
ult_2017.rename(columns = {'per_ult_pag':'diff_pay'},inplace=True)

In [99]:
df_2017_con = df_2017_con.merge(ult_2017,left_on='CONSECUTIVO PREDIAL',right_on='CONSECUTIVO PREDIAL').copy()

In [100]:
df_2017_con.head()

,AÑO,IDENTIFICACION CATASTRAL,cc_tarifa,ESTRATO,CONSECUTIVO PREDIAL,clase,corregimiento,barrio,manzana,predio,...,vlr_tot_avaluo,nro_doc_id_catastral,nombre,primer_apell,segundo_apell,proindiviso,cons_pred,per_ult_pag,number_owners,diff_pay
0,2017,6.151001e+26,33,2,2972,1,1,1,19,21,...,1999664929,805012921,FIDUCIARIA S.A.,ACCION,SOCIEDAD,100,2972,201804,1,1
1,2017,6.151001e+26,14,5,41717,1,1,10,1,2,...,1478400,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,41717,202104,1,1
2,2017,6.151001e+26,14,0,12157,1,1,10,1,3,...,3326400,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,12157,202104,1,1
3,2017,6.151001e+26,14,0,12159,1,1,10,1,5,...,64898537,1039450934,ANDRES MAURICIO,SIERRA,ESTRADA,50,12159,202104,2,1
4,2017,6.151001e+26,14,0,12159,1,1,10,1,5,...,64898537,43094163,ANA MARIA,SIERRA,BUENO,50,12159,202104,2,1

In [101]:
df_2017 = df_2017_con.drop_duplicates(subset='CONSECUTIVO PREDIAL').copy()

In [102]:
df_2017.drop(columns=['IDENTIFICACION CATASTRAL','ficha','direccion','matricula','nro_doc_id_catastral','nombre','primer_apell','segundo_apell','proindiviso','cons_pred'],inplace=True)

In [124]:
df_2017.reset_index(drop=True,inplace=True)

In [125]:
df_2017.head()

,AÑO,cc_tarifa,ESTRATO,CONSECUTIVO PREDIAL,clase,corregimiento,barrio,manzana,predio,edificio,...,area_const_comun,DESTINACION,vlr_terr,vlr_terr_comun,vlr_const,vlr_const_comun,vlr_tot_avaluo,per_ult_pag,number_owners,diff_pay
0,2017,33,2,2972,1,1,1,19,21,0,...,0.0,2,1993705800,0.0,5959129.0,0,1999664929,201804,1,1
1,2017,14,5,41717,1,1,10,1,2,0,...,0.0,19,1478400,0.0,0.0,0,1478400,202104,1,1
2,2017,14,0,12157,1,1,10,1,3,0,...,0.0,19,3326400,0.0,0.0,0,3326400,202104,1,1
3,2017,14,0,12159,1,1,10,1,5,0,...,0.0,3,16853760,0.0,48044777.0,0,64898537,202104,2,1
4,2017,8,2,12160,1,1,10,1,6,0,...,0.0,1,12889800,0.0,117566532.0,0,130456332,202104,1,1

## 2018

In [104]:
df_2018_con = df[df['AÑO']==2018].copy()

In [105]:
df_2018_con.shape

(96899, 33)

In [106]:
df_2018_con.head()

,AÑO,IDENTIFICACION CATASTRAL,cc_tarifa,ESTRATO,CONSECUTIVO PREDIAL,clase,corregimiento,barrio,manzana,predio,...,vlr_const,vlr_const_comun,vlr_tot_avaluo,nro_doc_id_catastral,nombre,primer_apell,segundo_apell,proindiviso,cons_pred,per_ult_pag
188591,2018,6.151001e+26,33,2,2972,1,1,1,19,21,...,6137903.0,0,2059654877,805012921,FIDUCIARIA S.A.,ACCION,SOCIEDAD,100,2972,201804
188592,2018,6.151001e+26,14,5,41717,1,1,10,1,2,...,0.0,0,1522752,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,41717,202104
188593,2018,6.151001e+26,14,0,12157,1,1,10,1,3,...,0.0,0,3426192,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,12157,202104
188594,2018,6.151001e+26,14,0,12159,1,1,10,1,5,...,49486120.0,0,66845493,1039450934,ANDRES MAURICIO,SIERRA,ESTRADA,50,12159,202104
188595,2018,6.151001e+26,14,0,12159,1,1,10,1,5,...,49486120.0,0,66845493,43094163,ANA MARIA,SIERRA,BUENO,50,12159,202104

In [107]:
df_2018_con.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96899 entries, 188591 to 285489
Data columns (total 33 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   AÑO                       96899 non-null  int64
 1   IDENTIFICACION CATASTRAL  96899 non-null  float64
 2   cc_tarifa                 96899 non-null  int64
 3   ESTRATO                   93125 non-null  object
 4   CONSECUTIVO PREDIAL       96899 non-null  int64
 5   clase                     96899 non-null  int64
 6   corregimiento             96899 non-null  int64
 7   barrio                    96899 non-null  int64
 8   manzana                   96899 non-null  int64
 9   predio                    96899 non-null  int64
 10  edificio                  96899 non-null  int64
 11  mejora                    96899 non-null  int64
 12  ficha                     92956 non-null  float64
 13  circulo                   95098 non-null  object
 14  matricula                 95201 non-null  object
 15  direccion                 96899 non-null  object
 16  area_terr                 96899 non-null  float64
 17  area_terr_comun           96899 non-null  float64
 18  area_const                96899 non-null  float64
 19  area_const_comun          96899 non-null  float64
 20  DESTINACION               96899 non-null  int64
 21  vlr_terr                  96899 non-null  int64
 22  vlr_terr_comun            96898 non-null  float64
 23  vlr_const                 96898 non-null  float64
 24  vlr_const_comun           96899 non-null  int64
 25  vlr_tot_avaluo            96899 non-null  int64
 26  nro_doc_id_catastral      96899 non-null  object
 27  nombre                    96851 non-null  object
 28  primer_apell              96880 non-null  object
 29  segundo_apell             92999 non-null  object
 30  proindiviso               96899 non-null  object
 31  cons_pred                 96899 non-null  int64
 32  per_ult_pag               96294 non-null  object
dtypes: float64(8), int64(15), object(10)
memory usage: 25.1+ MB

In [108]:
df_2018_con.isnull().sum()

AÑO                            0
IDENTIFICACION CATASTRAL       0
cc_tarifa                      0
ESTRATO                     3774
CONSECUTIVO PREDIAL            0
clase                          0
corregimiento                  0
barrio                         0
manzana                        0
predio                         0
edificio                       0
mejora                         0
ficha                       3943
circulo                     1801
matricula                   1698
direccion                      0
area_terr                      0
area_terr_comun                0
area_const                     0
area_const_comun               0
DESTINACION                    0
vlr_terr                       0
vlr_terr_comun                 1
vlr_const                      1
vlr_const_comun                0
vlr_tot_avaluo                 0
nro_doc_id_catastral           0
nombre                        48
primer_apell                  19
segundo_apell               3900
proindiviso                    0
cons_pred                      0
per_ult_pag                  605
dtype: int64

In [109]:
df_2018_con['CONSECUTIVO PREDIAL'].duplicated().sum()

30396

In [110]:
df_2018_con['CONSECUTIVO PREDIAL'].nunique()

66503

In [111]:
owner_2018 = df_2018_con[['CONSECUTIVO PREDIAL','nro_doc_id_catastral']].groupby('CONSECUTIVO PREDIAL').count().reset_index()

In [112]:
owner_2018.rename(columns={'nro_doc_id_catastral':'number_owners'},inplace=True)

In [113]:
df_2018_con = df_2018_con.merge(owner_2018,left_on='CONSECUTIVO PREDIAL',right_on='CONSECUTIVO PREDIAL').copy()

In [114]:
df_2018_con.head()

,AÑO,IDENTIFICACION CATASTRAL,cc_tarifa,ESTRATO,CONSECUTIVO PREDIAL,clase,corregimiento,barrio,manzana,predio,...,vlr_const_comun,vlr_tot_avaluo,nro_doc_id_catastral,nombre,primer_apell,segundo_apell,proindiviso,cons_pred,per_ult_pag,number_owners
0,2018,6.151001e+26,33,2,2972,1,1,1,19,21,...,0,2059654877,805012921,FIDUCIARIA S.A.,ACCION,SOCIEDAD,100,2972,201804,1
1,2018,6.151001e+26,14,5,41717,1,1,10,1,2,...,0,1522752,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,41717,202104,1
2,2018,6.151001e+26,14,0,12157,1,1,10,1,3,...,0,3426192,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,12157,202104,1
3,2018,6.151001e+26,14,0,12159,1,1,10,1,5,...,0,66845493,1039450934,ANDRES MAURICIO,SIERRA,ESTRADA,50,12159,202104,2
4,2018,6.151001e+26,14,0,12159,1,1,10,1,5,...,0,66845493,43094163,ANA MARIA,SIERRA,BUENO,50,12159,202104,2

In [115]:
ult_2018 = df_2018_con[['CONSECUTIVO PREDIAL','per_ult_pag']].groupby('CONSECUTIVO PREDIAL').nunique().reset_index()

In [116]:
ult_2018.rename(columns = {'per_ult_pag':'diff_pay'},inplace=True)

In [117]:
df_2018_con = df_2018_con.merge(ult_2018,left_on='CONSECUTIVO PREDIAL',right_on='CONSECUTIVO PREDIAL').copy()

In [118]:
df_2018_con.head()

,AÑO,IDENTIFICACION CATASTRAL,cc_tarifa,ESTRATO,CONSECUTIVO PREDIAL,clase,corregimiento,barrio,manzana,predio,...,vlr_tot_avaluo,nro_doc_id_catastral,nombre,primer_apell,segundo_apell,proindiviso,cons_pred,per_ult_pag,number_owners,diff_pay
0,2018,6.151001e+26,33,2,2972,1,1,1,19,21,...,2059654877,805012921,FIDUCIARIA S.A.,ACCION,SOCIEDAD,100,2972,201804,1,1
1,2018,6.151001e+26,14,5,41717,1,1,10,1,2,...,1522752,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,41717,202104,1,1
2,2018,6.151001e+26,14,0,12157,1,1,10,1,3,...,3426192,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,12157,202104,1,1
3,2018,6.151001e+26,14,0,12159,1,1,10,1,5,...,66845493,1039450934,ANDRES MAURICIO,SIERRA,ESTRADA,50,12159,202104,2,1
4,2018,6.151001e+26,14,0,12159,1,1,10,1,5,...,66845493,43094163,ANA MARIA,SIERRA,BUENO,50,12159,202104,2,1

In [119]:
df_2018 = df_2018_con.drop_duplicates(subset='CONSECUTIVO PREDIAL').copy()

In [120]:
df_2018.drop(columns=['IDENTIFICACION CATASTRAL','ficha','direccion','matricula','nro_doc_id_catastral','nombre','primer_apell','segundo_apell','proindiviso','cons_pred'],inplace=True)

In [122]:
df_2018.reset_index(inplace=True,drop=True)

In [123]:
df_2018.head()

,AÑO,cc_tarifa,ESTRATO,CONSECUTIVO PREDIAL,clase,corregimiento,barrio,manzana,predio,edificio,...,area_const_comun,DESTINACION,vlr_terr,vlr_terr_comun,vlr_const,vlr_const_comun,vlr_tot_avaluo,per_ult_pag,number_owners,diff_pay
0,2018,33,2,2972,1,1,1,19,21,0,...,0.0,2,2053516974,0.0,6137903.0,0,2059654877,201804,1,1
1,2018,14,5,41717,1,1,10,1,2,0,...,0.0,19,1522752,0.0,0.0,0,1522752,202104,1,1
2,2018,14,0,12157,1,1,10,1,3,0,...,0.0,19,3426192,0.0,0.0,0,3426192,202104,1,1
3,2018,14,0,12159,1,1,10,1,5,0,...,0.0,3,17359373,0.0,49486120.0,0,66845493,202104,2,1
4,2018,5,2,12160,1,1,10,1,6,0,...,0.0,1,13276494,0.0,121093528.0,0,134370022,202104,1,1

## 2019

In [127]:
df_2019_con = df[df['AÑO']==2019].copy()

In [128]:
df_2019_con.shape

(99139, 33)

In [129]:
df_2019_con.head()

,AÑO,IDENTIFICACION CATASTRAL,cc_tarifa,ESTRATO,CONSECUTIVO PREDIAL,clase,corregimiento,barrio,manzana,predio,...,vlr_const,vlr_const_comun,vlr_tot_avaluo,nro_doc_id_catastral,nombre,primer_apell,segundo_apell,proindiviso,cons_pred,per_ult_pag
285490,2019,6.151001e+26,33,2,2972,1,1,1,19,21,...,6322040.0,0,2121444523,805012921,FIDUCIARIA S.A.,ACCION,SOCIEDAD,100,2972,201804
285491,2019,6.151001e+26,14,5,41717,1,1,10,1,2,...,0.0,0,1568435,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,41717,202104
285492,2019,6.151001e+26,14,0,12157,1,1,10,1,3,...,0.0,0,3528978,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,12157,202104
285493,2019,6.151001e+26,14,0,12159,1,1,10,1,5,...,50970704.0,0,68850858,1039450934,ANDRES MAURICIO,SIERRA,ESTRADA,50,12159,202104
285494,2019,6.151001e+26,14,0,12159,1,1,10,1,5,...,50970704.0,0,68850858,43094163,ANA MARIA,SIERRA,BUENO,50,12159,202104

In [130]:
df_2019_con.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99139 entries, 285490 to 384628
Data columns (total 33 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   AÑO                       99139 non-null  int64
 1   IDENTIFICACION CATASTRAL  99139 non-null  float64
 2   cc_tarifa                 99139 non-null  int64
 3   ESTRATO                   95389 non-null  object
 4   CONSECUTIVO PREDIAL       99139 non-null  int64
 5   clase                     99139 non-null  int64
 6   corregimiento             99139 non-null  int64
 7   barrio                    99139 non-null  int64
 8   manzana                   99139 non-null  int64
 9   predio                    99139 non-null  int64
 10  edificio                  99139 non-null  int64
 11  mejora                    99139 non-null  int64
 12  ficha                     95196 non-null  float64
 13  circulo                   97274 non-null  object
 14  matricula                 97376 non-null  object
 15  direccion                 99139 non-null  object
 16  area_terr                 99139 non-null  float64
 17  area_terr_comun           99139 non-null  float64
 18  area_const                99139 non-null  float64
 19  area_const_comun          99139 non-null  float64
 20  DESTINACION               99139 non-null  int64
 21  vlr_terr                  99139 non-null  int64
 22  vlr_terr_comun            99138 non-null  float64
 23  vlr_const                 99138 non-null  float64
 24  vlr_const_comun           99139 non-null  int64
 25  vlr_tot_avaluo            99139 non-null  int64
 26  nro_doc_id_catastral      99139 non-null  object
 27  nombre                    99093 non-null  object
 28  primer_apell              99120 non-null  object
 29  segundo_apell             95945 non-null  object
 30  proindiviso               99139 non-null  object
 31  cons_pred                 99139 non-null  int64
 32  per_ult_pag               98522 non-null  object
dtypes: float64(8), int64(15), object(10)
memory usage: 25.7+ MB

In [131]:
df_2019_con.isnull().sum()

AÑO                            0
IDENTIFICACION CATASTRAL       0
cc_tarifa                      0
ESTRATO                     3750
CONSECUTIVO PREDIAL            0
clase                          0
corregimiento                  0
barrio                         0
manzana                        0
predio                         0
edificio                       0
mejora                         0
ficha                       3943
circulo                     1865
matricula                   1763
direccion                      0
area_terr                      0
area_terr_comun                0
area_const                     0
area_const_comun               0
DESTINACION                    0
vlr_terr                       0
vlr_terr_comun                 1
vlr_const                      1
vlr_const_comun                0
vlr_tot_avaluo                 0
nro_doc_id_catastral           0
nombre                        46
primer_apell                  19
segundo_apell               3194
proindiviso                    0
cons_pred                      0
per_ult_pag                  617
dtype: int64

In [132]:
df_2019_con['CONSECUTIVO PREDIAL'].duplicated().sum()

30933

In [133]:
df_2019_con['CONSECUTIVO PREDIAL'].nunique()

68206

In [134]:
owner_2019 = df_2019_con[['CONSECUTIVO PREDIAL','nro_doc_id_catastral']].groupby('CONSECUTIVO PREDIAL').count().reset_index()

In [135]:
owner_2019.rename(columns={'nro_doc_id_catastral':'number_owners'},inplace=True)

In [136]:
df_2019_con = df_2019_con.merge(owner_2019,left_on='CONSECUTIVO PREDIAL',right_on='CONSECUTIVO PREDIAL').copy()

In [137]:
df_2019_con.head()

,AÑO,IDENTIFICACION CATASTRAL,cc_tarifa,ESTRATO,CONSECUTIVO PREDIAL,clase,corregimiento,barrio,manzana,predio,...,vlr_const_comun,vlr_tot_avaluo,nro_doc_id_catastral,nombre,primer_apell,segundo_apell,proindiviso,cons_pred,per_ult_pag,number_owners
0,2019,6.151001e+26,33,2,2972,1,1,1,19,21,...,0,2121444523,805012921,FIDUCIARIA S.A.,ACCION,SOCIEDAD,100,2972,201804,1
1,2019,6.151001e+26,14,5,41717,1,1,10,1,2,...,0,1568435,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,41717,202104,1
2,2019,6.151001e+26,14,0,12157,1,1,10,1,3,...,0,3528978,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,12157,202104,1
3,2019,6.151001e+26,14,0,12159,1,1,10,1,5,...,0,68850858,1039450934,ANDRES MAURICIO,SIERRA,ESTRADA,50,12159,202104,2
4,2019,6.151001e+26,14,0,12159,1,1,10,1,5,...,0,68850858,43094163,ANA MARIA,SIERRA,BUENO,50,12159,202104,2

In [138]:
ult_2019 = df_2019_con[['CONSECUTIVO PREDIAL','per_ult_pag']].groupby('CONSECUTIVO PREDIAL').nunique().reset_index()

In [139]:
ult_2019.rename(columns = {'per_ult_pag':'diff_pay'},inplace=True)

In [140]:
df_2019_con = df_2019_con.merge(ult_2019,left_on='CONSECUTIVO PREDIAL',right_on='CONSECUTIVO PREDIAL').copy()

In [141]:
df_2019_con.head()

,AÑO,IDENTIFICACION CATASTRAL,cc_tarifa,ESTRATO,CONSECUTIVO PREDIAL,clase,corregimiento,barrio,manzana,predio,...,vlr_tot_avaluo,nro_doc_id_catastral,nombre,primer_apell,segundo_apell,proindiviso,cons_pred,per_ult_pag,number_owners,diff_pay
0,2019,6.151001e+26,33,2,2972,1,1,1,19,21,...,2121444523,805012921,FIDUCIARIA S.A.,ACCION,SOCIEDAD,100,2972,201804,1,1
1,2019,6.151001e+26,14,5,41717,1,1,10,1,2,...,1568435,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,41717,202104,1,1
2,2019,6.151001e+26,14,0,12157,1,1,10,1,3,...,3528978,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,12157,202104,1,1
3,2019,6.151001e+26,14,0,12159,1,1,10,1,5,...,68850858,1039450934,ANDRES MAURICIO,SIERRA,ESTRADA,50,12159,202104,2,1
4,2019,6.151001e+26,14,0,12159,1,1,10,1,5,...,68850858,43094163,ANA MARIA,SIERRA,BUENO,50,12159,202104,2,1

In [142]:
df_2019 = df_2019_con.drop_duplicates(subset='CONSECUTIVO PREDIAL').copy()

In [143]:
df_2019.drop(columns=['IDENTIFICACION CATASTRAL','ficha','direccion','matricula','nro_doc_id_catastral','nombre','primer_apell','segundo_apell','proindiviso','cons_pred'],inplace=True)

In [144]:
df_2019.reset_index(inplace=True,drop=True)

In [145]:
df_2019.head()

,AÑO,cc_tarifa,ESTRATO,CONSECUTIVO PREDIAL,clase,corregimiento,barrio,manzana,predio,edificio,...,area_const_comun,DESTINACION,vlr_terr,vlr_terr_comun,vlr_const,vlr_const_comun,vlr_tot_avaluo,per_ult_pag,number_owners,diff_pay
0,2019,33,2,2972,1,1,1,19,21,0,...,0.0,2,2115122483,0.0,6322040.0,0,2121444523,201804,1,1
1,2019,14,5,41717,1,1,10,1,2,0,...,0.0,19,1568435,0.0,0.0,0,1568435,202104,1,1
2,2019,14,0,12157,1,1,10,1,3,0,...,0.0,19,3528978,0.0,0.0,0,3528978,202104,1,1
3,2019,14,0,12159,1,1,10,1,5,0,...,0.0,3,17880154,0.0,50970704.0,0,68850858,202104,2,1
4,2019,5,2,12160,1,1,10,1,6,0,...,0.0,1,13674789,0.0,124726334.0,0,138401123,202104,1,1

## 2020

In [146]:
df_2020_con = df[df['AÑO']==2020].copy()

In [147]:
df_2020_con.shape

(100248, 33)

In [148]:
df_2020_con.head()

,AÑO,IDENTIFICACION CATASTRAL,cc_tarifa,ESTRATO,CONSECUTIVO PREDIAL,clase,corregimiento,barrio,manzana,predio,...,vlr_const,vlr_const_comun,vlr_tot_avaluo,nro_doc_id_catastral,nombre,primer_apell,segundo_apell,proindiviso,cons_pred,per_ult_pag
384629,2020,6.151001e+26,33,2,2972,1,1,1,19,21,...,6511701.0,0,2185087859,805012921,FIDUCIARIA S.A.,ACCION,SOCIEDAD,100,2972,201804
384630,2020,6.151001e+26,14,5,41717,1,1,10,1,2,...,0.0,0,2625167,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,41717,202104
384631,2020,6.151001e+26,14,0,12157,1,1,10,1,3,...,0.0,0,3634847,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,12157,202104
384632,2020,6.151001e+26,14,0,12159,1,1,10,1,5,...,52499825.0,0,70916384,1039450934,ANDRES MAURICIO,SIERRA,ESTRADA,50,12159,202104
384633,2020,6.151001e+26,14,0,12159,1,1,10,1,5,...,52499825.0,0,70916384,43094163,ANA MARIA,SIERRA,BUENO,50,12159,202104

In [149]:
df_2020_con.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100248 entries, 384629 to 484876
Data columns (total 33 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   AÑO                       100248 non-null  int64
 1   IDENTIFICACION CATASTRAL  100248 non-null  float64
 2   cc_tarifa                 100248 non-null  int64
 3   ESTRATO                   96473 non-null   object
 4   CONSECUTIVO PREDIAL       100248 non-null  int64
 5   clase                     100248 non-null  int64
 6   corregimiento             100248 non-null  int64
 7   barrio                    100248 non-null  int64
 8   manzana                   100248 non-null  int64
 9   predio                    100248 non-null  int64
 10  edificio                  100248 non-null  int64
 11  mejora                    100248 non-null  int64
 12  ficha                     96305 non-null   float64
 13  circulo                   98433 non-null   object
 14  matricula                 98536 non-null   object
 15  direccion                 100248 non-null  object
 16  area_terr                 100247 non-null  float64
 17  area_terr_comun           100248 non-null  float64
 18  area_const                100248 non-null  float64
 19  area_const_comun          100248 non-null  float64
 20  DESTINACION               100248 non-null  int64
 21  vlr_terr                  100248 non-null  int64
 22  vlr_terr_comun            100247 non-null  float64
 23  vlr_const                 100247 non-null  float64
 24  vlr_const_comun           100248 non-null  int64
 25  vlr_tot_avaluo            100248 non-null  int64
 26  nro_doc_id_catastral      100248 non-null  object
 27  nombre                    100200 non-null  object
 28  primer_apell              100229 non-null  object
 29  segundo_apell             96253 non-null   object
 30  proindiviso               100247 non-null  object
 31  cons_pred                 100248 non-null  int64
 32  per_ult_pag               99641 non-null   object
dtypes: float64(8), int64(15), object(10)
memory usage: 26.0+ MB

In [150]:
df_2020_con.isnull().sum()

AÑO                            0
IDENTIFICACION CATASTRAL       0
cc_tarifa                      0
ESTRATO                     3775
CONSECUTIVO PREDIAL            0
clase                          0
corregimiento                  0
barrio                         0
manzana                        0
predio                         0
edificio                       0
mejora                         0
ficha                       3943
circulo                     1815
matricula                   1712
direccion                      0
area_terr                      1
area_terr_comun                0
area_const                     0
area_const_comun               0
DESTINACION                    0
vlr_terr                       0
vlr_terr_comun                 1
vlr_const                      1
vlr_const_comun                0
vlr_tot_avaluo                 0
nro_doc_id_catastral           0
nombre                        48
primer_apell                  19
segundo_apell               3995
proindiviso                    1
cons_pred                      0
per_ult_pag                  607
dtype: int64

In [151]:
df_2020_con['CONSECUTIVO PREDIAL'].duplicated().sum()

31008

In [152]:
df_2020_con['CONSECUTIVO PREDIAL'].nunique()

69240

In [153]:
owner_2020 = df_2020_con[['CONSECUTIVO PREDIAL','nro_doc_id_catastral']].groupby('CONSECUTIVO PREDIAL').count().reset_index()

In [154]:
owner_2020.rename(columns={'nro_doc_id_catastral':'number_owners'},inplace=True)

In [155]:
df_2020_con = df_2020_con.merge(owner_2020,left_on='CONSECUTIVO PREDIAL',right_on='CONSECUTIVO PREDIAL').copy()

In [156]:
df_2020_con.head()

,AÑO,IDENTIFICACION CATASTRAL,cc_tarifa,ESTRATO,CONSECUTIVO PREDIAL,clase,corregimiento,barrio,manzana,predio,...,vlr_const_comun,vlr_tot_avaluo,nro_doc_id_catastral,nombre,primer_apell,segundo_apell,proindiviso,cons_pred,per_ult_pag,number_owners
0,2020,6.151001e+26,33,2,2972,1,1,1,19,21,...,0,2185087859,805012921,FIDUCIARIA S.A.,ACCION,SOCIEDAD,100,2972,201804,1
1,2020,6.151001e+26,14,5,41717,1,1,10,1,2,...,0,2625167,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,41717,202104,1
2,2020,6.151001e+26,14,0,12157,1,1,10,1,3,...,0,3634847,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,12157,202104,1
3,2020,6.151001e+26,14,0,12159,1,1,10,1,5,...,0,70916384,1039450934,ANDRES MAURICIO,SIERRA,ESTRADA,50,12159,202104,2
4,2020,6.151001e+26,14,0,12159,1,1,10,1,5,...,0,70916384,43094163,ANA MARIA,SIERRA,BUENO,50,12159,202104,2

In [157]:
ult_2020 = df_2020_con[['CONSECUTIVO PREDIAL','per_ult_pag']].groupby('CONSECUTIVO PREDIAL').nunique().reset_index()

In [158]:
ult_2020.rename(columns = {'per_ult_pag':'diff_pay'},inplace=True)

In [159]:
df_2020_con = df_2020_con.merge(ult_2020,left_on='CONSECUTIVO PREDIAL',right_on='CONSECUTIVO PREDIAL').copy()

In [160]:
df_2020_con.head()

,AÑO,IDENTIFICACION CATASTRAL,cc_tarifa,ESTRATO,CONSECUTIVO PREDIAL,clase,corregimiento,barrio,manzana,predio,...,vlr_tot_avaluo,nro_doc_id_catastral,nombre,primer_apell,segundo_apell,proindiviso,cons_pred,per_ult_pag,number_owners,diff_pay
0,2020,6.151001e+26,33,2,2972,1,1,1,19,21,...,2185087859,805012921,FIDUCIARIA S.A.,ACCION,SOCIEDAD,100,2972,201804,1,1
1,2020,6.151001e+26,14,5,41717,1,1,10,1,2,...,2625167,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,41717,202104,1,1
2,2020,6.151001e+26,14,0,12157,1,1,10,1,3,...,3634847,811008684,DE RIONEGRO S.A.,EMPRESAS,PUBLICAS,100,12157,202104,1,1
3,2020,6.151001e+26,14,0,12159,1,1,10,1,5,...,70916384,1039450934,ANDRES MAURICIO,SIERRA,ESTRADA,50,12159,202104,2,1
4,2020,6.151001e+26,14,0,12159,1,1,10,1,5,...,70916384,43094163,ANA MARIA,SIERRA,BUENO,50,12159,202104,2,1

In [161]:
df_2020 = df_2020_con.drop_duplicates(subset='CONSECUTIVO PREDIAL').copy()

In [162]:
df_2020.drop(columns=['IDENTIFICACION CATASTRAL','ficha','direccion','matricula','nro_doc_id_catastral','nombre','primer_apell','segundo_apell','proindiviso','cons_pred'],inplace=True)

In [163]:
df_2020.reset_index(inplace=True,drop=True)

In [164]:
df_2020.head()

,AÑO,cc_tarifa,ESTRATO,CONSECUTIVO PREDIAL,clase,corregimiento,barrio,manzana,predio,edificio,...,area_const_comun,DESTINACION,vlr_terr,vlr_terr_comun,vlr_const,vlr_const_comun,vlr_tot_avaluo,per_ult_pag,number_owners,diff_pay
0,2020,33,2,2972,1,1,1,19,21,0,...,0.0,2,2178576158,0.0,6511701.0,0,2185087859,201804,1,1
1,2020,14,5,41717,1,1,10,1,2,0,...,0.0,19,2625167,0.0,0.0,0,2625167,202104,1,1
2,2020,14,0,12157,1,1,10,1,3,0,...,0.0,19,3634847,0.0,0.0,0,3634847,202104,1,1
3,2020,14,0,12159,1,1,10,1,5,0,...,0.0,3,18416559,0.0,52499825.0,0,70916384,202104,2,1
4,2020,5,2,12160,1,1,10,1,6,0,...,0.0,1,14085032,0.0,128468124.0,0,142553156,202104,1,1

### final_df

In [174]:
df_2016.columns

Index(['AÑO', 'cc_tarifa', 'ESTRATO', 'CONSECUTIVO PREDIAL', 'clase',
       'corregimiento', 'barrio', 'manzana', 'predio', 'edificio', 'mejora',
       'circulo', 'area_terr', 'area_terr_comun', 'area_const',
       'area_const_comun', 'DESTINACION', 'vlr_terr', 'vlr_terr_comun',
       'vlr_const', 'vlr_const_comun', 'vlr_tot_avaluo', 'per_ult_pag',
       'number_owners', 'diff_pay'],
      dtype='object')

In [180]:
df_final = pd.DataFrame(df['CONSECUTIVO PREDIAL'].drop_duplicates() ).merge(df_2016.drop(columns='AÑO').add_suffix('_2016'),left_on='CONSECUTIVO PREDIAL',right_on='CONSECUTIVO PREDIAL_2016').copy()

In [181]:
df_final = df_final.merge(df_2017.drop(columns='AÑO').add_suffix('_2017'),left_on='CONSECUTIVO PREDIAL',right_on='CONSECUTIVO PREDIAL_2017').copy()

In [183]:
df_final = df_final.merge(df_2018.drop(columns='AÑO').add_suffix('_2018'),left_on='CONSECUTIVO PREDIAL',right_on='CONSECUTIVO PREDIAL_2018').copy()

In [185]:
df_final = df_final.merge(df_2019.drop(columns='AÑO').add_suffix('_2019'),left_on='CONSECUTIVO PREDIAL',right_on='CONSECUTIVO PREDIAL_2019').copy()

In [187]:
df_final = df_final.merge(df_2020.drop(columns='AÑO').add_suffix('_2020'),left_on='CONSECUTIVO PREDIAL',right_on='CONSECUTIVO PREDIAL_2020').copy()

In [190]:
df_final.drop(columns=['CONSECUTIVO PREDIAL_2016','CONSECUTIVO PREDIAL_2017','CONSECUTIVO PREDIAL_2018','CONSECUTIVO PREDIAL_2019','CONSECUTIVO PREDIAL_2020'],inplace=True)

In [191]:
df_final.to_csv('consolidado_predial.csv',index=False)